
.banner {
    width: 380vw; /* Make the banner 3 times the viewport width */
    height: 100vw; /* Full viewport height */
   /* background-image: url('images/2024.jpg');/* Path to your long banner image */
    background-size:contain; /* Cover the entire banner area */
    background-repeat: no-repeat; /* Do not repeat the background image */
    
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent default scrolling */
    height:100vh;
    width:100vw;
    background-image:url("images/ph2024.png");
    background-size: cover;
    background-repeat:no-repeat;

 
}


.scroll-container {
    width: 60vw;
    height: 41.5vw;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y:hidden;
    scroll-behavior:smooth;
    float:right;
    
}





.centered-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* Ensure it appears above other elements */
     /* Optional: Add a background for readability */
    color: rgb(160, 0, 0);
    padding: 10px 20px; /* Optional: Add some padding */
    border-radius: 5px; /* Optional: Add rounded corners */
    font-size: 1.5em; /* Adjust the font size as needed */
    text-align: center;

}

.content {
    min-width: 100vw; /* Full viewport width */
    height: 100vw; /* Adjust to match the container height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: #000000;
    border-right: 1px solid #ccc;
}

.content:nth-child(odd) {
    background-color: #ffffff;
}


.side-menu {
    position: fixed;
    top: 0;
    left: -390px; /* Adjust based on menu width */
    width: 650px;
    height: 100%;
    background-image: url('sidemenu.png'); /* Path to your PNG image */
    background-size:30%; /* Ensure the image covers the entire area */
    background-position: center;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    color: white;
    transition: left 0.8s ease;
    z-index: 1000;
    padding-top: 10px;
}

.side-menu:hover {
    left: -12.5%;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    padding: 15px 20px;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
}

