body {
  background-image: url('./images/noise1.gif');
  background-blend-mode:color-dodge;
  background-color: rgb(12, 12, 12);
  overflow:visible;
  box-sizing:border-box;
  
}

.rubik-vinyl-regular {
  font-family: "Rubik Vinyl", system-ui;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'cry-kitty';
  src: url('/fonts/crykitty.ttf');
}

@font-face {
  font-family: 'punk-kid';
  src: url('/fonts/punk kid.ttf');
}

@font-face {
  font-family: 'shlop';
  src: url('/fonts/shlop rg.otf');
}

@font-face {
  font-family: 'sinder';
  src: url('/fonts/SINDER FREEBIE FINAL.ttf');
}

@font-face {
  font-family: 'special-elite';
  src: url('/fonts/SpecialElite.ttf');
}

@font-face {
  font-family: 'acidic';
  src: url('/fonts/acidic.ttf');

}

@font-face {
  font-family: 'horserad';
  src: url('/fonts/HORSERAD.ttf');

}


@font-face{
  font-family:'modc';
  src: url('/fonts/modc_r.ttf');

}

@font-face{
  font-family:'04B';
  src: url('/fonts/04B_08__.ttf');
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.banner {
  position: relative;
  text-align: center;
  color: rgb(19,19,19);
  font-size: 6vw;
  word-spacing: 2.5vw;
  letter-spacing: -0.1vw;
  white-space:nowrap;
  font-family:"acidic", system-ui;
  
  
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.buttonline {
  height:auto;
  width:100px;
  padding-left:0px;
  padding-top:8px;
  margin-right: auto; 
  margin-left: auto;
  margin-top:0px;
  margin-bottom:0px;
  white-space:none;

}

.button {
  background: #575252;
  background: linear-gradient(0deg, rgb(68, 64, 64) 0%, rgba(128, 124, 111, 1) 14%, rgb(112, 117, 91) 59%, rgb(131, 138, 108) 73%, rgb(126, 118, 114) 100%);
  border: solid black 1px;
  color: rgb(180, 180, 180);
  text-shadow:black 0px 1px;
  text-align: center;
  text-decoration: none;
  height:55px;
  width:150px;
  padding-top:20px;
  padding-left:5px;
  padding-right:5px;
  font-size:16px;
  letter-spacing:0px;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  margin-right:0;
  margin-left:0;
  white-space:hide;
  outline:1px solid black;
  border:2px solid  rgba(203, 212, 176, 0.691);
  border-bottom:0px;
  border-right:0px;
  border-radius:40px;
  font-family:monospace;
  justify-content:center;
  display:inline-block;
  mix-blend-mode:luminosity;
  mix-blend-mode:hard-light;
 
  
}

.buttonart {
  background: #9f9f9f;
  border: outset black 3px;
  color: rgb(0, 0, 0);
  text-shadow:black 0px 1px;
  text-align: center;
  text-decoration: none;
  height:55px;
  width:110px;
  padding-top:17px;
  padding-left:5px;
  padding-right:5px;
  font-size:18px;
  letter-spacing:1px;
  margin-right:0;
  margin-left:0;
  white-space:hide;
  font-family:'Courier New', Courier, monospace;
  justify-content:center;
  display:inline-block;
  mix-blend-mode:luminosity;
}

.buttonart:hover {
  background-color: #939393;
  color:#000000;
}

.blutton {
  margin-left:auto;
  margin-right:auto;
  background: #575252;
  background: linear-gradient(0deg, rgb(35, 39, 27) 0%, rgb(59, 37, 32) 14%, rgb(94, 85, 68) 59%, rgb(174, 149, 120) 73%, rgb(143, 136, 111) 100%);
  border: solid black 2px;
  color: rgb(0, 0, 0);
  text-shadow:black 0px 1px;
  padding-top: 1.25vh;
  padding-bottom:1.25vh;
  text-align: center;
  text-decoration: none;
  text-shadow:0px 1px rgb(143, 136, 111);
  display: inline-block;
  width:9vw;
  height:6vh;
  font-size: 3.5vh;
  border-radius:0.5vw;
  font-family:'modc';
  font-weight:lighter;
  margin-top:3vh;
  
}



.blutton:hover {
  background-color: #84917d;
  color:#ffa13c;
  mix-blend-mode:normal;
  -ms-transform: scale(0.98); /* IE 9 */
  -webkit-transform: scale(0.98); /* Safari 3-8 */
  transform: scale(0.98); 
  border:2px solid rgb(73, 52, 22);
    text-shadow:rgb(58, 36, 36)0px 2px, rgb(63, 22, 22) 0px 1px;
}

.button:hover {
  background-color: #35342f;
  color:#cdd3ce;
  mix-blend-mode:normal;
  -ms-transform: scale(0.97); /* IE 9 */
  -webkit-transform: scale(0.97); /* Safari 3-8 */
  transform: scale(0.97); 
  border:1px solid rgb(63, 22, 22);
    text-shadow:rgb(58, 36, 36)0px 2px, rgb(63, 22, 22) 0px 1px;
    box-shadow: black 0px 1px;
}


.button2 {
background-image: url('images/home.gif');
background-repeat:no-repeat;
position:relative;
flex-wrap:nowrap;
height:80px;
width:135px;
background-size:83px;
font-size:25px;
font-family: "horserad";
text-decoration: none;
padding-left: 80px;
padding-top:25px;
margin-left:0px;
margin-right:15px;
color:rgb(127, 120, 29);
bottom:6px;
display:block

}

.button2:hover {

background-image: url('images/home2.gif');
color:#bfc79f;
font-size:30px;
padding-top:20px;

}

.button3 {
background-image: url('images/artwork1.gif');  
background-repeat:no-repeat;
position:relative;
flex-wrap:nowrap;
height:80px;
width:170px;
background-size:83px;
font-size:25px;
font-family: "horserad";
text-decoration: none;
padding-left: 75px;
padding-top:25px;
margin-left:0px;
margin-right:15px;
color:rgb(127, 120, 29);
bottom:6px;
display:block

}

.button3:hover {

background-image: url('images/artwork2.gif');
color:#bfc79f;
font-size:30px;
padding-top:20px;
}

.button4 {
background-image: url('images/project.gif');
background-repeat:no-repeat;
position:relative;
flex-wrap:nowrap;
height:80px;
width:170px;
background-size:83px;
font-size:25px;
font-family: "horserad";
text-decoration: none;
padding-left: 85px;
padding-top:25px;
margin-left:0px;
margin-right:10px;
color:rgb(127, 120, 29);
bottom:6px;
display:block

}

.button4:hover {

background-image: url('images/project2.gif');
color:#bfc79f;
font-size:30px;
padding-top:20px;
}

.button5 {
background-image: url('images/contact.gif');
background-repeat:no-repeat;
position:relative;
flex-wrap:nowrap;
height:80px;
width:160px;
background-size:83px;
font-size:25px;
font-family: "horserad";
text-decoration: none;
padding-left: 80px;
padding-top:25px;
margin-left:0px;
margin-right:15px;
color:rgb(127, 120, 29);
bottom:6px;
display:block


}

.button5:hover {

background-image: url('images/contact2.gif');
color:#bfc79f;
font-size:30px;
padding-top:20px;
}

.hor {
  max-height:auto;
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:flex-start;

}

/* Style page content */
.main {
  height:auto;
  width:40vw;
  padding: 1vw;
  margin-right: 1vw; 
  margin-left: 1vw;
  background-color:rgb(66, 66, 51);
  position:top;
  left: 50%;
  overflow:auto;
  align-content:flex-start;
  }

  .side {
    height:auto;
    width:20vw;
    padding: 1vw;
    margin-right: 0vw; 
    margin-left: 1vw;
    margin-top:1vh;
    font-size:3vh;
    font-family:sinder;
    color: #c9bd17;
    


  }



.imageGallery {
  width: 392px;
  margin: 0;
  transition: transform .2s;
  box-shadow: 1px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right:10px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  background-color:rgb(47, 56, 47);
  z-index:1;
  
  
  
}

.imageGallery img:hover {
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.1); 
  mix-blend-mode:luminosity;
  cursor:pointer;

}

.imageGallery img {
  width: 85px;
  height: auto;
  border-color:black;
  outline: 1px solid rgb(204, 204, 204);
  display:flex;
  margin-left:5px;
  margin-right:5px;
  margin-top:5px;
  margin-bottom:5px;
  z-index:1;
  
}

#displayImage {
  max-width:790px;
  margin-left:auto;
  margin-right:auto;
  padding:0px;
  padding-top:0;
  padding-bottom:0;
  margin-top:0px; 
  height:initial;
  width:initial;
  max-height:670px;
  overflow:visible;
  z-index:1;

}

#displayImage:hover {
  transform:scale(1.2);
  transition:10s ease;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* { box-sizing: border-box; }


div.project {
  width:25vw; 
  margin-right:4%;
  margin-left:5%;
  float:left;
  outline:3px solid black; 
  background-color:black;
  border-bottom-left-radius:2vw;
 border-bottom-right-radius:2vw;
  box-shadow: rgba(0, 0, 0, 0.068) 0vh 1vh;
  mix-blend-mode:hard-light;
}

div.project:hover {
-ms-transform: scale(0.98); /* IE 9 */
  -webkit-transform: scale(0.98); /* Safari 3-8 */
  transform: scale(0.98); 
  mix-blend-mode: normal;

}


/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 33vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y:hidden;
  background-color:black;
  border-bottom-left-radius: 0vw;
  border-top-left-radius: 0vw;
}

/* The navigation menu links */
.sidenav a {
  padding: 0.5vw;
  text-decoration: none;
  display: block;
  border-style:solid rgb(255, 0, 0) 1vh;
}









/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

#grad1 {
  height:17vh;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top, rgb(59, 58, 49), rgb(154, 161, 139));
}

#grad2 {
  height:1vh;
background: #4d4a39;
background: linear-gradient(0deg, rgb(54, 52, 40) 0%, rgba(105, 108, 87, 1) 21%, rgba(203, 212, 176, 1) 85%, rgb(55, 52, 43) 100%);
}


#grad3 {
  height:auto;
 background: #2b2b25;
background: linear-gradient(0deg, rgb(56, 65, 58) 0%, rgb(78, 87, 82) 54%, rgb(84, 88, 86) 100%);
}
.strokeme {
  color: rgb(161, 92, 59);
  background-color: rgba(255, 0, 0, 0);
  text-shadow: -3px -3px 0 #000000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

#borderimg1 { 
  border:200px thin transparent;
  padding: 1vw;
  border-image: url('images/phborder.png') 200 round;
  border-image-outset:16px;
}

.pixelated {
  image-rendering: crisp-edges;
}


  #outerDiv
    { height : 25vh;
      margin : 44px; border: none 4px Red;
    }

    #innerDiv
    { height     : 30vh;
      width: 16vw;
      overflow-y : auto;
      overflow-x:hidden;
      border-radius:5px;
      border     : solid 3px rgba(43, 44, 36, 0.692); font-size: 200%;
      background-color:rgb(84, 99, 77);
      background-image: linear-gradient(to top,  rgb(84, 109, 80),  rgb(82, 95, 76));
      margin-left:2vw;
      margin-top:5vh;
      padding-left:1vw;
      padding-right:1vw;
      white-space:normal;
      color:rgba(17, 12, 4, 0.719);
      font-size:1vw;
      text-align:justify;
      font-family:"04B";
      text-shadow:rgba(0, 0, 0, 0.144) 0px 3px;
    }

    